<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>eZ Publish 5 and Backwards Compatibility - eZ Summer Camp 2013</title>

		<meta name="description" content="With the new eZ version 5 and the Symfony based MVC, backwards compatibility with v4 was a real challenge. In this workshop we will dive in the BC world and demistify migration process.">
		<meta name="author" content="Jérôme Vieilledent &mdash; eZ Systems">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/ez.css" id="theme">
        <link rel="stylesheet" href="lib/css/icomoon.css">

		<!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/tomorrow-night-bright.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
                    <img src="assets/ez.png" alt="eZ" />
                    <h1>eZ Publish 5 and <abbr title="Backwards Compatibility">BC</abbr></h1>
                    <p>Available online at<br><a href="http://lolautruche.github.io/ez/bc">http://lolautruche.github.io/ez/bc</a></p>
				</section>

                <section>
                    <h2>About me</h2>

                    <ul>
                        <li>eZ & Symfony Community member since 2007</li>
                        <li>Part of engineering team since 2011</li>
                        <li><em>Lead engineer eZ Symfony</em></li>
                        <li>Webmaster of <a href="http://www.metalfrance.net">http://www.metalfrance.net</a>, powered by eZ Publish (soon to be migrated to v5)</li>
                    </ul>

                    <ul class="social">
                        <li class="twitter"><a href="https://twitter.com/jvieilledent" data-icon="&#xe001"><span>@jvieilledent</span></a></li>
                        <li class="gplus"><a href="https://plus.google.com/117299956214722538039/posts" data-icon="&#xe000"><span>+Jérôme Vieilledent</span></a></li>
                        <li class="github"><a href="http://github.com/lolautruche" data-icon="&#xe003"><span>Github</span></a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/in/jeromevieilledent" data-icon="&#xe004"><span>Linkedin</span></a></li>
                        <li class="blog"><a href="http://www.lolart.net" data-icon="&#xe005"><span>Blog</span></a></li>
                    </ul>
                </section>

				<section>
                    <p>&nbsp;</p>
                    <h2 class="center">PM Scrum story</h2>
                    <p>&nbsp;</p>
                    <p class="architecture">
                        «As an eZ Publish user, I don’t want to be<br>pissed off by a new #@!$% version!»
                    </p>
                    <aside class="notes">
                        eZ Publish 3 use case (2003).<br>
                        Major change => eZ Publish lost the 2/3rd of its users, community members... Because there was no BC at all.
                    </aside>
				</section>

                <section>
                    <h2>The challenges</h2>

                    <ul>
                        <li class="fragment roll-in">100% data compatible (same database schema)</li>
                        <li class="fragment roll-in">Include legacy templates into new ones</li>
                        <li class="fragment roll-in">Routing fallback</li>
                        <li class="fragment roll-in">Load legacy content templates with old <em>override</em> rules</li>
                        <li class="fragment roll-in">Settings</li>
                        <li class="fragment roll-in">Access Symfony services from legacy PHP code (e.g. modules)</li>
                    </ul>
                    <aside class="notes">
                        <ul>
                            <li>
                                Data compatible : The most important. <br>
                                One can easily switch from a legacy eZ Publish 4.x instance to 5.x.
                                However one of our most important limitation (no new storage engine possible).
                            </li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <p class="architecture">
                        <img src="assets/madness.png" alt="How to turn a engineer mad">
                    </p>
                </section>

                <section>
                    <p class="architecture" style="height: 70%;">
                        <img src="assets/challenge_accepted.png" alt="Challenge accepted">
                    </p>
                    <p class="center"><strong>Challenge accepted !</strong></p>
                    <aside class="notes">
                        Obviously we didn’t have choice...<br>
                        It was basically trying to make a square fit inside a smaller triangle.<br>
                        2 completely different systems, with 2 completely different approaches.<br>
                        <br>
                        We got inspired of what guys from the Symfony community made when Symfony 2 came out, to make their Symfony 1 application work with it.
                    </aside>
                </section>

				<section data-markdown>
                    <script type="text/template">
                        ## Sandbox legacy code in a closure

                        ```php
                        $foo = 'bar';
                        $legacyTemplateResult = $this->getLegacyKernel()->runCallback(
                            function () use ( $foo )
                            {
                                $tpl = \eZTemplate::factory();
                                $tpl->setVariable( 'foo', $foo );
                                return $tpl->fetch( 'design:my/legacy_template.tpl' );
                            }
                        );
                        ```
                    </script>
					<aside class="notes">
                        Using runCallback, legacy code is completely isolated. We can keep high cohesion and loose coupling. <br>
                        Of course it adds some overhead, but it’s fairly minimal from what it represents.
					</aside>
				</section>

                <section>
                    <h2>Dual Core architecture</h2>
                    <p class="architecture" style="height: 80%">
                        <img src="assets/dual_core.png" alt="Dual core architecture">
                    </p>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Include a legacy template from Twig

                        ```django
                        {% extends "MyBundle::pagelayout.html.twig" %}

                        {% block content %}
                        <h1>{{ ez_render_field( content, 'title' ) }}</h1>

                        <div class="main_content">
                            {{ ez_render_field( content, 'body' ) }}
                        </div>

                        {# Include a "more like this" legacy template, using eZFind more_like_this() function #}
                        {% include "design:more_like_this.tpl" with {'node_id': location.id} %}
                        {% endblock %}
                        ```

                        * More details on [Confluence](https://confluence.ez.no/display/EZP/Legacy+code+and+features#Legacycodeandfeatures-LegacyTemplateinclusion)
                    </script>
                </section>

                <section>
                    <h2>Concrete example: Using eZ Find</h2>
                    <pre style="font-size: 0.5em;"><code data-trim class="php" style="max-height: 500px;">
$searchPhrase = 'My search phrase';
$sort = array(
    'score'     => 'desc',
    'published' => 'desc'
);
$contentTypeIdentifiers = array( 'folder', 'article' );
$mySearchResults = $this->getLegacyKernel()->runCallback(
    function () use ( $searchPhrase, $sort, $contentTypeIdentifiers )
    {
        // eZFunctionHandler::execute is the equivalent for a legacy template fetch function
        // The following is the same than fetch( 'ezfind', 'search', hash(...) )
        return \eZFunctionHandler::execute(
            'ezfind',
            'search',
            array(
                'query'     => $searchPhrase,
                'sort_by'   => $sort,
                'class_id'  => $contentTypeIdentifiers
            )
        );
    },
    false
);
                    </code></pre>
                    <aside class="notes">
                        eZ Find has not been ported yet (and probably won't be ported as is).<br>
                        Will probably be integrated directly in the core.<br>
                        BTW, a project of adapting eZ Find is coming as a community effort, using Solarium. Wanna join?
                    </aside>
                </section>

                <section>
                    <h2>Call Symfony services from legacy code</h2>
                    <pre>
<code class="php">
// From anywhere in legacy code
/** @var \Symfony\Component\DependencyInjection\ContainerInterface $serviceContainer */
$serviceContainer = ezpKernel::instance()->getServiceContainer();
$repository = $serviceContainer->get( 'ezpublish.api.repository' );
$rootLocation = $repository->getLocationService()->loadLocation( 2 );
</code></pre>
                    <ul>
                        <li class="fragment roll-in">You can call and use <strong>every declared public service</strong></li>
                        <li class="fragment roll-in">
                            As controllers can be defined as services, you can use controllers for your modules!<br>
                            (particularly useful for <em>module migration</em>)
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>If I migrate to eZ 5, will my site work?</h2>
                    <ul>
                        <li class="fragment roll-in">Short answer: <strong class="fragment highlight-red">YES!!!</strong>
                            <ul class="fragment roll-in">
                                <li>Define new Twig templates, they will used directly</li>
                                <li>If no Twig template yet, <strong class="fragment highlight-red">all your old content templates<br>will be taken into account as fallback</strong></li>
                                <li>All your modules will continue to work (<em>routing fallback</em>)</li>
                            </ul>
                        </li>
                    </ul>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Hands on: The invisible BC

                        * Get the base legacy extension

                        ```bash
                        cd ezpublish_legacy/extension
                        git clone git://github.com/lolautruche/ezsc-legacy
                        git checkout -b work v0.1
                        ```

                        * Activate it in `settings/override/site.ini.append.php`
                        * Activate *Template debug* in admin
                        * Generate a SummerCamp\BCBundle

                        ```bash
                        # First go back to main eZ 5 directory
                        php ezpublish/console generate:bundle
                        ```

                        * Uncover the BC magic!
                    </script>
                    <aside class="notes">
                        <ul>
                            <li>Take an existing article: <code>/Getting-Started/Selected-Features/Deliver</code></li>
                            <li>Look at source code and watch the loaded legacy templates</li>
                            <li>Create a Twig template for the article (locationId #70) with rule</li>
                        </ul>
                    </aside>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Hands on: Include a legacy template

                        * Start from `old_thing.tpl` template from `ezsc-legacy` extension
                        * Try to include it from your Twig template, passing on different variable values

                        ```django
                        {% include "design:old_thing.tpl" with {"variableForLegacy": "Hello Summer camp!", "name": "Jérôme"}
                        ```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Hands on: Use legacy PHP code

                        * Create a `legacyAction()` method in your bundle's `DefaultController`
                        * Create the route leading to it
                        * Try to retrieve `[SiteSettings].SiteName` from `site.ini`, using the legacy kernel
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Hands on: Use a Symfony controller to render a legacy module

                        * Create a *controller as a service* `my.admin.controller`

                        ```yml
                        parameters:
                            my.admin.controller.class: Acme\TestBundle\Controller\AdminController

                        services:
                            my.admin.controller:
                                class: %my.admin.controller.class%
                                calls:
                                    - [setContainer, [@service_container]]
                        ```

                        * Edit `ezcadmin/sftest` module view to use the controller for rendering
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## That's all folks!
                    </script>
                </section>

			</div>
            <header>
                <h1>eZ Publish 5 and BC</h1>
            </header>
            <footer><p>Jérôme Vieilledent</p><p>2013</p><p>Slide <span class="page-nr">2</span></p></footer>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: false,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

            Reveal.addEventListener('ready', function (e) {
                var header, footer, sections;

                header = document.querySelector('.reveal header');
                footer = document.querySelector('.reveal footer');
                sections = document.querySelectorAll('.slides section');

                for (var i = 1, len = sections.length; i != len; i++) {
                    sections[i].insertBefore(header.cloneNode(true), sections[i].firstChild);
                    sections[i].appendChild(footer.cloneNode(true));
                    sections[i].querySelector('.page-nr').innerHTML = i+1;
                }

            });
		</script>

	</body>
</html>
